
a.network-url img.network-image {
	-moz-transition:.2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
}

a.network-url:hover img.network-image {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

a.network-url {
	background-color: gray;
	display: inline-block;
}